@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url(/images/bg.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    background-positon: center top;
    background-color: #57002a;
}

a {
    &:link, &:visited {
        @apply text-blue-500;
    }

    &:hover, &:active {
        @apply text-blue-700;
    }
}

iframe {
    background: #fff;
}